.circle {
  width: 100px; 
  height: 100px;
  border-radius: 50%; /* Создаем круглую форму */
  margin: 5px 5px 0 0; /* Убираем отступы сверху и справа, оставляем маленький отступ снизу и слева */
  cursor: pointer; /* Делаем курсор указывающим, чтобы показать, что кружок кликабельный */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px; /* Уменьшаем размер шрифта в 2 раза */
  font-weight: bold;
  text-align: center;
}

.chat-name {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
