/* Navigation.css */

/* Добавляем отступ слева для названия проекта */
.navbar-brand {
  margin-left: 20px;
}

/* Меню выпадает влево */
.dropdown-menu-left .dropdown-menu {
  right: 0;
  left: auto;
}

/* Темнеет при наведении мыши */
.nav-link:hover,
.dropdown-item:hover {
  background-color: #e0e0e0;
  color: #000;
}
