/* Стили для таблицы */
.assignment-table {
  width: 80%;
  margin: auto; /* Центрирование таблицы */
  border-collapse: collapse;
  margin-top: 10px;
}

/* Стили для ячеек таблицы */
.assignment-table th,
.assignment-table td {
  border: 1px solid #ccc; /* Серая обводка */
  padding: 8px;
  text-align: center; /* Выравнивание по центру */
}

/* Стили для заголовков таблицы */
.assignment-table th {
  text-align: center; /* Выравнивание заголовков по центру */
}

/* Уменьшение ширины колонки для даты */
.assignment-table .date-column {
  width: 20%; /* Задаем ширину для колонки с датой */
}

/* Стили для неопределенных оценок */
.undefined-mark {
  color: #999; /* Серый цвет */
}

/* Стили для основного контейнера */
.diary-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

/* Стили для заголовков предметов */
.subject-header {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Серая обводка */
  padding: 10px;
  background-color: #f9f9f9; /* Цвет фона */
}

/* Стили для ячеек таблицы */
.assignment-cell {
  border: 1px solid #ccc; /* Серая обводка */
  padding: 8px;
}
